
<div class="container">
  <div class="row margined">
    <div class="col-md-8">
      <mat-form-field class="w-100">
        <input matInput placeholder="Wyszukaj" id="filterValue_placeholder">
      </mat-form-field>
    </div>
    <div class="col-md-2 mt-2">
      <button class="btn btn-dark"> Wyszukaj</button>
    </div>
    <div class="col-md-2 mt-2">
      <button class="btn btn-dark">Dodaj</button>
    </div>
  </div>
<table class="table margined">
  <thead>
  <tr>
    <th scope="col">Nazwa</th>
    <th scope="col">Producent</th>
    <th scope="col">Kalorie(kcal/100g)</th>
    <th scope="col">Białko(g)</th>
    <th scope="col">Tłuszcze(g)</th>
    <th scope="col">Węglowodany(g)</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Makaron</td>
    <td>Lubella</td>
    <td>200</td>
    <td>10</td>
    <td>2</td>
    <td>40</td>
  </tr>
  <tr>
    <td>Białko WPC 80</td>
    <td>KFD</td>
    <td>200</td>
    <td>50</td>
    <td>2</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Czekolada</td>
    <td>Milka</td>
    <td>500</td>
    <td>2</td>
    <td>20</td>
    <td>60</td>
  </tr>
  </tbody>
</table>
</div>l
