<div class="container">
  <div class="row justify-content-start margined">
    <mat-form-field appearance="fill">
      <mat-label>Wybierz datę</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="date" (dateChange)="click()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button class="btn btn-dark margined" (click)="addProduct()">Dodaj produkt</button>
    <button class="btn btn-dark margined" (click)="addMeal()">Dodaj Posiłek</button>
  </div>
  <div class="table-responsive-lg">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Producent</th>
        <th scope="col">Ilość(g)</th>
        <th scope="col">Kalorie(kcal)</th>
        <th scope="col">Białko(g)</th>
        <th scope="col">Tłuszcze(g)</th>
        <th scope="col">Węglowodany(g)</th>
        <th scope="col">Akcja</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor=" let product of userProducts">
        <tr>
          <td>{{product.name}}</td>
          <td>{{product.brand}}</td>
          <td>{{product.weight | number : '1.2-2'}}</td>
          <td>{{product.calories | number : '1.2-2'}}</td>
          <td>{{product.whey | number : '1.2-2'}}</td>
          <td>{{product.fat | number : '1.2-2'}}</td>
          <td>{{product.carbohydrates | number : '1.2-2'}}</td>
          <td>
            <div class="row">
              <button class="btn btn-dark" style="margin-right: 5px; margin-bottom: 5px" (click)="delete(product)">Usuń</button>
              <button class="btn btn-dark" style="margin-right: 5px; margin-bottom: 5px" (click)="edit(product)">Edytuj</button>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <ngb-progressbar [type]="getType()" textType="dark" [value]="getPercentage()">{{totalCalories + '/' + calorieGoal}}</ngb-progressbar>
</div>
