<div class="row justify-content-center margined-up">
  <div class="card" style="width: 50rem">
    <div class="card-header">
      Moje dane
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="email" value="email@example.com">
          </div>
        </div>
        <div class="form-group row">
          <label for="login" class="col-sm-2 col-form-label">Login</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="login" value="example_login">
          </div>
        </div>
        <div class="form-group row">
          <label for="firstname" class="col-sm-2 col-form-label">Imie</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="firstname" value="Example">
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-sm-2 col-form-label">Nazwisko</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="lastName" value="Login">
          </div>
        </div>
        <div class="form-group row">
          <label for="weight" class="col-sm-2 col-form-label">Waga</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="weight" value="100 kg">
          </div>
        </div>
        <div class="form-group row">
          <label for="calories" class="col-sm-2 col-form-label">Cel kaloryczny</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="calories" value="2500 kcal">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <button type="button" class="btn btn-dark margined" (click)="editAccount()">Edytuj</button>
  <button type="button" class="btn btn-dark margined">Zmień hasło</button>
  <button type="button" class="btn btn-danger margined">Usuń konto</button>
</div>

