<div class="modal-body p-5">
  <div class="container-fluid center-block">
    <h2 mat-dialog-title>Edytuj produkt</h2>
    <span class="material-icons" style="position: absolute; top: 5px; right: 5px; cursor: pointer"
          (click)="dialogRef.close()">close</span>
    <mat-dialog-content>
      <div class="container">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-5"><p class="label">Waga: <span *ngIf="form.get('weight').invalid"
                                                               style="color: red; font-weight: bold">*</span>
            </p></div>
            <div class="col-md-7"><input id="edit_weight" formControlName="weight"></div>
            <div class="row" style="margin-bottom: 10px">
              <div class="col-md-12" *ngIf="!form.valid">
              <span class="text-error" style="color: red">
                <span class="material-icons" style="position: relative; top: 5px">error</span>
                <span
                  style="position: relative; left: 5px; bottom: 2px">Wszystkie pola muszą mieć poprawne wartości</span>
              </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <button id="user_add" type="button" class="btn btn-dark" (click)="modify()"
                      style="margin-bottom: 5px">Edytuj
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-dialog-content>
  </div>
</div>
