<div class="modal-body p-5">
  <div class="container-fluid center-block">
    <h2 mat-dialog-title>Zmień hasło</h2>
    <span class="material-icons" style="position: absolute; top: 5px; right: 5px; cursor: pointer"
          (click)="dialogRef.close()">close</span>
    <mat-dialog-content>
      <div class="container">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-5"><p class="label">Wpisz stare hasło:
              <span *ngIf="form.get('oldPassword').invalid" style="color: red; font-weight: bold">*</span>
            </p></div>
            <div class="col-md-7"><input id="enter_old_password" type="password" formControlName="oldPassword"></div>
            <div class="col-md-5"><p class="label">Wpisz nowe hasło:
              <span *ngIf="form.get('newPassword').invalid" style="color: red; font-weight: bold">*</span>
            </p></div>
            <div class="col-md-7"><input id="enter_new_password" type="password" formControlName="newPassword"></div>
            <div class="col-md-5"><p class="label">Powtórz hasło:
              <span *ngIf="form.get('repeatPassword').invalid"  style="color: red; font-weight: bold">*</span>
            </p></div>
            <div class="col-md-7"><input id="repeat_new_password" type="password" formControlName="repeatPassword"></div>
          </div>
          <div class="row" style="margin-bottom: 10px">
            <div class="col-md-12" *ngIf="!form.valid">
              <span class="text-error" style="color: red">
                <span class="material-icons" style="position: relative; top: 5px">error</span>
                <span
                  style="position: relative; left: 5px; bottom: 2px">Wszystkie pola muszą mieć poprawne wartości</span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <button id="account_change_password" type="button" class="btn btn-dark" (click)="changePassword()"
                      style="margin-bottom: 5px">Zmień
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-dialog-content>
  </div>
</div>
